/*.jslider_plastic .jslider-bg i,.jslider_plastic .jslider-pointer{*/
    /*background-image:url("../img/jslider.plastic.png");*/
/*}*/



.wrap{
    width: 1200px;
    margin: 0 auto;
 }

.wrap .banner{
    text-align: center;
}
.wrap .banner img{

}


.wrap>.wrap_main{
    width: 100%;
    margin:0 auto;
    overflow: hidden;
}
.wrap>.wrap_main>.wrap_main_top{
    margin-bottom: 20px;
}
.wrap>.wrap_main>.wrap_main_top>.top_span{
    /*border-bottom: 1px solid #cccccc;*/
    padding:10px 0;
}
.wrap>.wrap_main>.wrap_main_top>.top_span>span:nth-child(1){
    font-weight: 600;
    font-size: 24px;
}
.wrap>.wrap_main>.wrap_main_top>.top_span>span:nth-child(2){
    margin-left: 10px;
    font-size: 14px;
    color: #333;
}

.wrap>.wrap_main>.wrap_main_con{

}
.wrap>.wrap_main>.wrap_main_con>.con_l{
    width: 180px;
}
.wrap>.wrap_main>.wrap_main_con>.con_l>.con_l_top{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #cccccc;
    padding-top: 20px;
}
.wrap>.wrap_main>.wrap_main_con>.con_l>.con_l_top>span:nth-child(1){

}
.wrap>.wrap_main>.wrap_main_con>.con_l>.con_l_top>span:nth-child(2){
    padding: 0 5px;
    cursor: pointer;
}
 .wrap>.wrap_main>.wrap_main_con>.con_l>.con_l_top>span:nth-child(2)>.plus1{
     display: none;
 }
.wrap>.wrap_main>.wrap_main_con>.con_l>.con_l_ul{

}
.wrap>.wrap_main>.wrap_main_con>.con_l>.con_l_ul>li{
    margin-top:10px;
    font-size: 14px;
    cursor: pointer;
    color: #666;
}
.wrap>.wrap_main>.wrap_main_con>.con_l>.choose_price{
    border-top:1px solid #cccccc;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding-top: 10px;
}
.wrap>.wrap_main>.wrap_main_con>.con_l>.choose_price>span:nth-child(1){

}
.wrap>.wrap_main>.wrap_main_con>.con_l>.choose_price>span:nth-child(2){

}
.wrap>.wrap_main>.wrap_main_con>.con_l>.choose_price>span:nth-child(2) .minus1{
    display: none;
}


.wrap>.wrap_main>.wrap_main_con>.con_l>.price_slider{

}

.wrap>.wrap_main>.wrap_main_con>.con_l>.price_slider>.price_area{
    display: flex;
}
.wrap>.wrap_main>.wrap_main_con>.con_l>.price_slider>.price_area>.min_price{
    display: inline-block;
    width: 80px;
    height: 15px;
    position: relative;
}
.wrap>.wrap_main>.wrap_main_con>.con_l>.price_slider>.price_area>.min_price>input{
    width: 80%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 15px;
}
.wrap>.wrap_main>.wrap_main_con>.con_l>.price_slider>.price_area>.min_price>span{
    position: absolute;
    left: 5px;
    font-size: 14px;
}
.wrap>.wrap_main>.wrap_main_con>.con_l>.price_slider>.price_area>.max_price{
    display: inline-block;
    width: 80px;
    height: 15px;
    position: relative;
}
.wrap>.wrap_main>.wrap_main_con>.con_l>.price_slider>.price_area>.max_price>span{
    position: absolute;
    left: 5px;
    font-size: 14px;
}
.wrap>.wrap_main>.wrap_main_con>.con_l>.price_slider>.price_area>.max_price>input{
    width: 80%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 15px;
}
.wrap>.wrap_main>.wrap_main_con>.con_r{
    max-width: 1000px;
}
.wrap>.wrap_main>.wrap_main_con>.con_r>.con_r_top{
    text-align: right;
}
.wrap>.wrap_main>.wrap_main_con>.con_r>.con_r_top>.left{
    float:left
}
.wrap>.wrap_main>.wrap_main_con>.con_r>.con_r_top>.left>span{
    color: #333;
    font-size: 14px;
}
.wrap>.wrap_main>.wrap_main_con>.con_r>.con_r_top>.left>input{
    width: 16px;
    height: 16px;
}
.wrap>.wrap_main>.wrap_main_con>.con_r>.con_r_top>.right{
    position: relative;
    right: 10px;
}
.wrap>.wrap_main>.wrap_main_con>.con_r>.con_r_top>.right>span{
    color: #333;
    font-size: 14px;

}
.wrap>.wrap_main>.wrap_main_con>.con_r>.con_r_top>.right>ul{
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    border-radius: 2px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 25px;
    display: none;
 }
.wrap>.wrap_main>.wrap_main_con>.con_r>.con_r_top>.right>ul>li{
    font-weight: 400;
    font-size: 14px;
    color: #333;
    height: 32px;
    line-height: 32px;
    padding:0 10px;
    cursor:pointer;
}
.wrap>.wrap_main>.wrap_main_con>.con_r>.con_r_goodsList{

}
.wrap>.wrap_main>.wrap_main_con>.con_r>.con_r_goodsList>li{
    width: 245px;
    display: inline-block;
}
.wrap>.wrap_main>.wrap_main_con>.con_r>.con_r_goodsList>li>img{
    width: 230px;
}
.wrap>.wrap_main>.wrap_main_con>.con_r>.con_r_goodsList>li>.good_content{
    color: #333;
}
.wrap>.wrap_main>.wrap_main_con>.con_r>.con_r_goodsList>li>.price{
    color: #333;
    font-size: 14px;
}
.wrap>.wrap_main>.wrap_main_con>.con_r>.con_r_goodsList>li>.price>span:nth-child(1){

}
.wrap>.wrap_main>.wrap_main_con>.con_r>.con_r_goodsList>li>.price>span:nth-child(2){
    text-decoration: line-through!important;
}
.wrap>.wrap_main>.wrap_main_con>.con_r>.con_r_goodsList>li>.bs{

}